body{
    background: #E5E7E9;
}

.container{
    width: 1200px;
    margin: 0px auto;
}

.user{
    background: #ECF0F1;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 16px;
}

.user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.user-name{
    border-bottom: 1px solid black;
}

.user-info-text{
    font-size: 20px;
}

.user-posts{
    margin-right: 20px;
    margin-left: 20px;
}

.post{
    padding: 25px;
    background: #F4F6F7;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}

.post-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-body{
    font-size: 18px
}

.post-title{
    font-size: 20px;
}

button{
    width: 25px;
    height: 25px;
    cursor: pointer;
}